header {
    display: flex;
    height: 50px;
    background-color: mediumvioletred;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 20px;
    height: 20px;
}

#menu {
    background-color: #f2d0e0;
    display: grid;
    height: 100vh;
    width: 200px;
    align-items: stretch;
}