* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

main {
    width: 1000px;
    background-color: rgb(128, 208, 235);
    display: inline-block;
}

.nome {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    display: inline-block;
    font-size: 3rem;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 35px;
    margin-right: 20px;
    float: right;
}

li {
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
}

.container {
    padding-top: 40px;
    height: 550px;
    margin-top: 200px;
    background-color: lightblue;
    max-width: 1000px;
    margin: auto;
}

.apresentacao {
    color: rgb(52, 39, 233);
    text-align: justify;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
    font-family: cursive;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

img {
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    width: 200px;
    height: 200px;
}

.links {
    text-decoration-color: blue;
}

.links:hover {
    color: rgb(93, 61, 236);
    font-size: 20px;
    background-color: lightcoral;
}


/* certificaçoes */

.main_certificados {
    background-color: lightblue;
    display: inline-block;
    width: 1000px;
}

.container_certificados {
    height: 550px;
    background-color: lightblue;
    max-width: 1000px;
    margin: auto;
}

.certificados {
    font-family: cursive;
    font-size: 60px;
}